name: Battery Butler CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-java-gradle
      - name: Clean Project
        run: ./scripts/clean.sh
      - name: Validate Project
        run: ./scripts/validate.sh

  build_android:
    needs: lint_and_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-java-gradle
      - name: Build Android App
        run: ./scripts/build-android.sh
      - name: Upload Android APKs and AABs
        uses: actions/upload-artifact@v4
        with:
          name: blanket-android-builds
          path: |
            compose-app/build/outputs/**/*.apk
            compose-app/build/outputs/**/*.aab

  build_ios_compose:
    needs: lint_and_test
    runs-on: macos-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build iOS App (Compose UI)
        uses: cartland/xcodebuild@v3.6.0
        with:
          xcode: ^16
          scheme: iosApp
          platform: iOS
          action: build
          derived-data-path: build
          working-directory: ios-app-compose-ui

      - name: Upload iOS App (Compose UI)
        uses: actions/upload-artifact@v4
        with:
          name: blanket-ios-compose-app
          path: ios-app-compose-ui/build/

  build_ios_native:
    needs: lint_and_test
    runs-on: macos-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build iOS App (SwiftUI)
        uses: cartland/xcodebuild@v3.6.0
        with:
          xcode: ^16
          scheme: iosApp
          platform: iOS
          action: build
          derived-data-path: build
          working-directory: ios-app-swift-ui

      - name: Upload iOS App (SwiftUI)
        uses: actions/upload-artifact@v4
        with:
          name: blanket-ios-swiftui-app
          path: ios-app-swift-ui/build/

  build_desktop:
    needs: lint_and_test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-java-gradle
      - name: Build Desktop App
        run: ./scripts/build-desktop.sh
      - name: Upload Desktop Binaries
        uses: actions/upload-artifact@v4
        with:
          name: blanket-desktop-dist-${{ matrix.os }}
          path: compose-app/build/compose/binaries


  build_server:
    needs: lint_and_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-java-gradle
      - name: Build Server
        run: ./scripts/build-server.sh
      - name: Upload Server JAR
        uses: actions/upload-artifact@v4
        with:
          name: blanket-server-jar
          path: server/build/libs/
