name: Deploy Server

on:
  push:
    branches: [ "main" ]
    paths:
      - 'server/**'
      - 'gradle/**'
      - 'build.gradle.kts'
      - '.github/workflows/deploy-server.yml'

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for configuring AWS credentials
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-1

    - name: Terraform Init
      working-directory: server/terraform
      env:
        TF_STATE_BUCKET: ${{ secrets.TF_STATE_BUCKET }}
        TF_LOCK_TABLE: ${{ secrets.TF_LOCK_TABLE }}
        TF_STATE_KEY: server/terraform.tfstate
        TF_STATE_REGION: us-west-1
      run: |
        terraform init \
          -backend-config="bucket=${TF_STATE_BUCKET}" \
          -backend-config="key=${TF_STATE_KEY}" \
          -backend-config="region=${TF_STATE_REGION}" \
          -backend-config="dynamodb_table=${TF_LOCK_TABLE}" \
          -backend-config="encrypt=true"

    - name: Terraform Apply
      working-directory: server/terraform
      run: terraform apply -auto-approve

    - name: Get ECR Repo URL
      id: tf-outputs
      working-directory: server/terraform
      run: |
        echo "ECR_URL=$(terraform output -raw ecr_repository_url)" >> $GITHUB_OUTPUT

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
      
    - name: Build and Push Container (Jib)
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_USERNAME: ${{ steps.login-ecr.outputs.username }}
        ECR_PASSWORD: ${{ steps.login-ecr.outputs.password }}
        ECR_REPO_URL: ${{ steps.tf-outputs.outputs.ECR_URL }}
      run: |
        ./gradlew :server:app:jibDockerBuild \
          -Djib.to.image=$ECR_REPO_URL \
          --stacktrace --info
        
        docker push $ECR_REPO_URL:latest
      
    - name: Force ECS Deployment
      run: |
        aws ecs update-service --cluster battery-butler-cluster --service battery-butler-service --force-new-deployment
